.projectsContainer {
  margin: 50px 4rem;
}

.projectsHeading {
  background: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.projectCard {
  border-radius: 3%;
  width: 100%;
  border: 2px solid gray;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectCard img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 100%;
}

.profileDetail {
  margin-top: 1.5rem;
  text-align: center;
}

.profileDetail h4 {
  color: #5f0101;
  font-weight: 500;
}

.profileDetail p {
  margin-bottom: 5px;
  font-size: large;
  word-break: break-all;
}
