.Card {
  background-color: #fff;
  border-radius: 8%;
  width: 100%;
  border: 2px solid gray;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Card img {
  width: 240px;
  height: 240px;
  object-fit: contain;
  border-radius: 100%;
}

.Detail {
  margin-top: 1.5rem;
  text-align: center;
}

.Detail h4 {
  color: #b8860b;
  line-height: 1.27;
  font-weight: 500;
}

.Detail p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: large;
}
.superviserName {
  font-weight: bold;
}
