.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
}

.container div {
  flex-basis: 50%;
  min-height: 353px;
}

.backgroundImg {
  background-image: url("../images/admissions/admission.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container .content {
  border: 2px solid gray;
  text-align: center;
  padding: 60px;
}

.content span {
  color: darkgoldenrod;
}

@media (max-width: 700px) {
  .container div {
    flex-basis: 100%;
  }
}
