.topSlider {
  position: relative;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.text {
  background-color: #000000d9;
  width: fit-content;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 18px;
}
