.container {
  padding: 5%;
  padding-top: 3%;
}

.titleHeading {
  text-align: center;
  line-height: 1.2;
}

span.fontNormal {
  font-weight: 100;
}

.detail {
  padding: 30px 0;
}

.detail > * {
  line-height: 1;
}

.pictures {
  padding-top: 30px;
  text-align: center;
}

img.image {
  width: 80%;
  padding: 20px;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .container {
    padding-top: 10%;
  }

  img.image {
    width: 100%;
    padding: 10px 0;
    border-radius: 5%;
  }
}
