.welcomeWrapper {
  /* margin-top: 1rem; */
  padding: 2rem;
  /* background-color: #f9f9f9; */
  background-color: #3c3c3c;
  text-align: center;
  color: white;
}

.welcomeWrapper h2 {
  font-weight: 600;
}

.welcomeWrapper span {
  /* color: #68a4c4; */
  color: #e9b10c;
  /* color: #1689c7; */
}
