.facultyCard {
  background-color: #fff;
  border-radius: 8%;
  width: 100%;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.facultyCard img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 100%;
  /* border: 5px solid navy; */
}

.profileDetail {
  margin-top: 1.5rem;
  text-align: center;
}

.profileDetail h4 {
  color: #b8860b;
  font-weight: 500;
}

.profileDetail p {
  margin-bottom: 5px;
  font-size: large;
  word-break: break-all;
}
