.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container div {
  flex-basis: 50%;
  min-height: 353px;
}

.backgroundImg {
  background-image: url("../images/programs/programs.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container .content {
  text-align: center;
  padding: 60px;
}

.content span {
  color: darkgoldenrod;
}

@media (max-width: 700px) {
  .container div {
    flex-basis: 100%;
  }

  .programs3 {
    background-position: -50px !important;
  }

  .programs2 {
    background-position: -25px !important;
  }
}
